a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 10px;
    width: 140px;
}

@media all and (max-width: 1000px) {
    nav {
        position: absolute;
    }
}

nav .sartak a {
    color: black;
}
nav h1, nav img, nav ul, nav li {
    margin: 0;
    padding: 0;
}
nav li {
    padding-bottom: 0.3em;
}
nav ul {
    list-style-type: none;
}
nav img {
    border: 0;
}

#content {
    margin-left: 140px;
    width: 800px;
}

ul#posts, ul#talks {
    margin-top: 0;
    list-style-type: none;
}
#posts .title a, #talks .title a {
    font-size: 1.1em;
    line-height: 1.2em;
}
#posts .date, #talks .date, #post #date, #talk #date {
    float: right;
    color: #AAAAAA;
}
#posts li, #talks li {
    padding-bottom: 0.4em;
}
#talks .conference {
    font-size: 0.7em;
}

#about ul {
    list-style-type: none;
}
#about a {
    font-weight: bold;
    font-size: 1.3em;
}
#about li {
    margin-bottom: 1em;
}

#post h1, #talk h1 {
    margin: 0;
}

.spoiler {
    color: black;
    background: black;
    padding: .1em;
}

.spoiler:hover {
    color: white;
}

sup, sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    _vertical-align: bottom;
    position: relative;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

.code_snippet {
    width: 100%;
    color: #DDDDDD;
    background: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1em 1em 1em 1em;
    overflow: hidden;
}
.code_snippet:hover {
    overflow: auto;
}

.synComment       { color: #DDDD00 }
.synConstant      { color: #DD0000 }
.synIdentifier    { color: #00DDDD }
.synStatement     { color: #B8860B }
.synPreProc       { color: #DD00DD } /* shebang */
.synTodo          {  } /* # XXX: */
.synSpecial       { color: #DD00DD } /* \n etc */
.synType          { color: #00DD00 } /* ctermbg in vimrc */
/*
.synUnderlined    { color: #FFFFFF ; text-decoration: underline }
.synError         { color: #FFFFFF }
*/

dt {
    font-size: 1.2em;
}
#talks .metadata, #talk .metadata {
    font-size: .8em;
}
dd {
    margin-bottom: 1em;
}

#slides {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#post, #talk {
    font-size: 1.1em;
}

.xyzzy {
    color: white;
}
.xyzzy:hover {
    color: blue;
}

